In [24]:
from sklearn import tree
import pandas as pd

In [38]:
USB= 504713  # US Bank
Wells=451965  #Wells Fargo
Quicken=7197000003        #Quicken Loan

loans_raw = pd.read_csv('AllData2017.csv')
loans_df = loans_raw.loc[(loans_raw['respondent id'] == Wells) | (loans_raw['respondent id'] == USB) | (loans_raw['respondent id'] == Quicken), :]
loans_df.head()

,Index,respondent id,agency code,loan type,property type,loan purpose,owner occ,loan amount,pre approval,action taken,...,denial reason 1,denial reason 2,denial reason 3,rate of spread,hoepa status,lien status,loan type modified,action modified,income cleaned,income loan ratio
0,1,451965,9,1,1,3,1,43,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,41,105
1,2,451965,9,2,1,1,1,53,3,1,...,NaN,NaN,NaN,NaN,2,1,0,1,0,0
2,3,451965,9,1,1,3,1,114,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,55,207
3,4,451965,9,1,1,3,1,142,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,75,189
4,5,451965,9,1,1,1,1,162,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,0,0

In [39]:
target = loans_df["action modified"]
target_names = ["declined", "approved"]

In [40]:
data = loans_df.drop(["action modified","respondent id", "owner occ", "state", "county", "loan type", "census tract", "hoepa status", "Index", "agency code", "income", "msa/md", "pre approval", "action taken", "denial reason 1", "denial reason 2", "rate of spread", "denial reason 3", "type of purchaser"],axis=1)
feature_names = data.columns
data.head()

,property type,loan purpose,loan amount,applicant race 1,sex,lien status,loan type modified,income cleaned,income loan ratio
0,1,3,43,5,2,1,1,41,105
1,1,1,53,5,2,1,0,0,0
2,1,3,114,6,3,1,1,55,207
3,1,3,142,3,1,1,1,75,189
4,1,1,162,2,2,1,1,0,0

In [41]:
# Split the data using train_test_split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target)

In [46]:
# Create, fit, and score a Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50)
rf = rf.fit(X_train, y_train)

In [47]:
# Calculate the R2 score for the test data
print(f"Training Data Score: {rf.score(X_train, y_train)}")
print(f"Testing Data Score: {rf.score(X_test, y_test)}")

Training Data Score: 0.9832504989629398
Testing Data Score: 0.7525240666823197

In [48]:
# Random Forests in sklearn will automatically calculate feature importance
importances = rf.feature_importances_
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.30061809309580056, 'income loan ratio'),
 (0.29824298768411356, 'loan amount'),
 (0.2514211550205054, 'income cleaned'),
 (0.05482927117762367, 'loan purpose'),
 (0.033281956452697416, 'sex'),
 (0.030752027326620367, 'applicant race 1'),
 (0.014078647072343086, 'lien status'),
 (0.012650373178415126, 'loan type modified'),
 (0.0041254889918808674, 'property type')]

In [49]:
# pull the test applicants
# 2 - Asian
# 3 - African American
# 5 - white
# sex = 1 male
#sex = 2 female
test_df=loans_df.loc[loans_df["applicant race 1"] == 5,:]
#test_df=loans_df.loc[loans_df["sex"] == 1,:]
test_df.head()

,Index,respondent id,agency code,loan type,property type,loan purpose,owner occ,loan amount,pre approval,action taken,...,denial reason 1,denial reason 2,denial reason 3,rate of spread,hoepa status,lien status,loan type modified,action modified,income cleaned,income loan ratio
0,1,451965,9,1,1,3,1,43,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,41,105
1,2,451965,9,2,1,1,1,53,3,1,...,NaN,NaN,NaN,NaN,2,1,0,1,0,0
5,6,451965,9,2,1,1,1,233,3,1,...,NaN,NaN,NaN,NaN,2,1,0,1,97,240
8,9,451965,9,1,1,3,1,90,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,44,205
9,10,451965,9,1,1,3,1,76,3,1,...,NaN,NaN,NaN,NaN,2,1,1,1,56,136

In [50]:
X_predict=test_df.drop(["action modified","respondent id", "state", "owner occ", "county","census tract", "loan type", "hoepa status", "Index", "agency code", "income", "msa/md", "pre approval", "action taken", "denial reason 1", "denial reason 2", "rate of spread", "denial reason 3", "type of purchaser"],axis=1)
y_predict=test_df["action modified"]
print(X_predict.shape, y_predict.shape)

(26465, 9) (26465,)

In [51]:
print(f"Predicting Data Score: {rf.score(X_predict, y_predict)}")

Predicting Data Score: 0.9257509918760627

[(0.29878132794978307, 'income loan ratio'),
 (0.29509643442172834, 'loan amount'),
 (0.24857349587514407, 'income cleaned'),
 (0.06911457675250975, 'loan purpose'),
 (0.026702076333590233, 'applicant race 1'),
 (0.026043707696022746, 'sex'),
 (0.01602841399397345, 'lien status'),
 (0.011162591225245454, 'loan type'),
 (0.004622983024728591, 'loan type modified'),
 (0.0038743927272742516, 'property type'),
 (0.0, 'owner occ')]